body {
	background-color: sandybrown;
	text-align: center;
}

h1	{
	color: ivory;
	text-align: center;
  	text-decoration-line: underline;
	
}
header {
	border-style: solid;
	border-color: black;
	font-size: 100px;
	text-align: center;
	font-size: 100px;

}

button {
	text-align: center;
	padding: 50px;
	color: black;	
	border-color: grey;
	border-style: groove;
	font-size: 20px;
	background color- ivory;

}

div {
	border: 30px solid white;	
	text-align: center
	
}

#hobby1 {
	background-color: sandybrown;
	border:10 px groove grey;	
 	text-align: center;
	border: 30px solid white;
{

#hobby2 {
	background-color: white;
	border:10 px solid black;	
 	text-align: center;
	border: 30px solid white;
{

#hobby3 {
	background-color: white;
	border:10 px solid black;	
 	text-align: center;
	border: 30px solid navy;
{
details {
	text-align: center;
	font-family: calibri
  	font-size: 30px;
	font-color: dark grey
}

summary {
	text-align: center;
	font-family: font-family: "Lucida Console", "Courier New", monospace;
 	font-size: 50px;
	background-color: white;
}

img {
	margin:auto;
	border-radius: 50px;
}	

a {
	color
	text-align: center;
}

footer {
	text-align: center;
}