body{background-color: teal;}
header{font-size: 40px; color:#ff0066; text-align:center; }
button{font-size: 20px; padding: 50px; background-color: black;margin-left: 200px; color: teal; text-align:center;class:w3-round-large;}
div{border: 10px solid ;
margin-top: 100px;
  margin-bottom: 300px;
  margin-right: 300px;
  margin-left: 300px;
 text-align:center;}
h1{color: black;}
details{color: black}
summary{color: black;}
footer{border: 6px solid light-pink;color:white; text-align:center;}
img{border: 5px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 200px;
  margin: auto;}
a{color: navy;}  

#hobby1{border-style: dashed; background-color: ivory;  }

#hobby2{border-style: dotted; background-color: white; }

#hobby3{ border-style: dashed; background-color: ivory; }